* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Helvetica', 'sans-serif';

}

body {
    background-color:rgb(229, 250, 230);
    color: rgb(102, 101, 101);
}

header {
    text-align: center;
}

#form_balade {
    border: 2px solid #4CAF50;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 200px 1fr;  /* Label : 200px, Input : reste de l'espace */
    gap: 15px;  /* Espacement entre les éléments */
    align-items: center;  /* Alignement vertical */
    margin-top: 40px;
    margin-bottom: 40px;
}

.si_rencontre {
    grid-column: 1 / -1;  /* Prend de la colonne 1 jusqu'à la fin */
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 15px;
    align-items: center;
    margin: 10px 0;
}

.hidden {
    display: none;
}

#balades_list {
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #2196F3;
    border-radius: 10px;
}

label {
    text-align: right;
}

.input_balade {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    background-color: rgb(246, 252, 245);
}

input[type="submit"] {
    grid-column: 1 / -1;  /* Prend toute la largeur */
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: rgb(15, 131, 55);
}

.radio_group {
    display: flex;
    gap: 20px;
    align-items: center;
}

.radio_group label {
    text-align: left;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio_group input[type="radio"] {
    width: auto;
    margin: 0;
}